<?xml version="1.0"?>
<launch>
  <!-- Movement type argument -->
  <arg name="pattern" default="square" />

  <!-- Set the default fcu_url to /dev/serial0:921600 -->
  <arg name="fcu_url" default="/dev/serial0:921600" />

  <!-- Include the MAVROS px4 node -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>

  <!-- Relay Qualisys pose topic to MAVROS vision_pose topic -->
  <!-- ACTION REQUIRED: Replace My_Quad with the name of your rigid body -->
  <node pkg="topic_tools" type="relay" name="relay" output="screen" args="/qualisys/My_Quad/pose /mavros/vision_pose/pose"/>

  <!-- Launch MAVROSPY control node and Fake GPS node -->
  <node pkg="mavrospy" type="fake_gps.py" name="pose_to_tf" required="true" output="screen"/>
  <node pkg="mavrospy" type="$(arg pattern).py" name="control_node" required="true" output="screen" />
    <param name="vision" value="true"/>
  </node>

</launch>
