<?xml version="1.0"?>
<launch>
	<arg name="fcu_url" />

	<!-- Include the MAVROS px4 node -->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="$(arg fcu_url)" />
	</include>

	<node pkg="topic_tools" type="relay" name="relay" output="screen" args="/qualisys/Bernas_Quad/pose /mavros/vision_pose/pose"/>

	<node pkg="mavrospy" type="mocap.py" name="mavrospy" required="true" output="screen"/>

</launch>
