<?xml version="1.0"?>
<launch>
  <!-- Movement type argument -->
  <arg name="pattern" default="square" />

  <!-- Set the default fcu_url to /dev/serial0:921600 -->
  <arg name="fcu_url" default="/dev/serial0:921600" />

  <!-- Include the MAVROS px4 node -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)" />
  </include>

  <!-- Launch MAVROSPY control node and Fake GPS node -->
  <node pkg="mavrospy" type="$(arg pattern).py" name="control_node" required="true" output="screen" />
</launch>
