<?xml version="1.0"?>
<launch>
  <!-- Set use_sim_time to true for rosbag playback -->
  <param name="use_sim_time" value="true" />

  <!-- Run the Pose to Path node -->
  <node name="pose_to_path" pkg="mavrospy" type="pose_to_path.py" output="screen" />

  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mavrospy)/rviz/sim.rviz" />
</launch>

