<?xml version="1.0"?>
<launch>
	<arg name="fcu_url" />

	<!-- Include the MAVROS px4 node -->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="$(arg fcu_url)" />
	</include>

	<!-- Our node to control the drone -->
	<node pkg="mavrospy" type="test_vel.py" name="mavrospy" required="true" output="screen" />
</launch>
